ion-alert{
    .alert-wrapper{
      background: -webkit-linear-gradient(-55deg, #50a2a7 35%, #e9b44c 100%);
      background: -moz-linear-gradient(-55deg, #50a2a7 35%, #e9b44c 100%);
      background: -o-linear-gradient(-55deg, #50a2a7 35%, #e9b44c 100%);
      background: linear-gradient(-55deg, #50a2a7 35%, #e9b44c 100%);
      font-family: $font-family-base ;
    }
    .alert-button{
      color: #000000 !important;
    }
    .alert-input {
      border-bottom: 1px solid #ffffff;
      color: #fff;
    }
  
   }