<ion-header >
  <div class="main-header">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>My Account</strong>
    </ion-title>
 
    <ion-buttons end>
      <button ion-button tappable (click)="homePage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
</ion-navbar>
   
</div>
</ion-header>




<ion-content>

    <ion-row>
        <ion-col text-center>
            <ion-icon name="person"></ion-icon>
          </ion-col>
      </ion-row>
  <ion-list *ngIf="user">

      <ion-item >
          <ion-label><strong>Username : </strong>{{ user.username }}</ion-label>
        </ion-item>

        <ion-item>
            <ion-label><strong>Firstname : </strong> {{ user.firstname }}</ion-label>
          </ion-item>

        <ion-item>
            <ion-label><strong>Lastname : </strong> {{ user.lastname }}</ion-label>
       </ion-item>
       
      <ion-item>
        <ion-label><strong>Email : </strong> {{ user.email }}</ion-label>
      </ion-item>
  
  </ion-list>
   
</ion-content>