page-profile {

    ion-content{
        background: -webkit-linear-gradient(-55deg, #50a2a7 35%, #e9b44c 100%) !important;
        background: -moz-linear-gradient(-55deg, #50a2a7 35%, #e9b44c 100%) !important;
        background: -o-linear-gradient(-55deg, #50a2a7 35%, #e9b44c 100%) !important;
        background: linear-gradient(-55deg, #50a2a7 35%, #e9b44c 100%) !important;

        ion-item:last-child {
            border-bottom: none !important;;
        }
    
        ion-item{
            background-color: transparent !important;
            padding-right: 16px !important;;
            padding-top: 8px !important;
            padding-bottom: 8px !important;
            .item-inner {
                border-bottom: 1px solid #a6b46b !important;
            }
        }
    
        ion-icon{
            font-size: 75px;
            margin-top: 15%;
            margin-bottom: 15px;
            color: #cab954;
        }

    }

 
}