<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar class="user-profile">
      <ion-grid>
        <ion-row>
            <ion-col col-4>
                <div class="logo-box">
                  <img src="../assets/icon/favicon.ico">
                </div>
            </ion-col>

          <ion-col padding-top col-8>
            <h2 ion-text>Main Menu</h2>
          </ion-col>
        </ion-row>

        <ion-row no-padding padding-top padding-bottom>
          <ion-col no-padding>
            <button color="primary" ion-button icon-left small full  menuClose>
              <ion-icon name="contact"></ion-icon>
              Register
            </button>
          </ion-col>
          <ion-col no-padding>
            <button color="secondary"  ion-button icon-left small full menuClose (click)="logint()">
              <ion-icon name="lock"></ion-icon>
              Login
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>